In [2]:
import pandas as pd

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df=pd.read_csv('../bikesharing/201908-citibike-tripdata 2.csv')
df.sample(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1432651,501,2019-08-19 18:17:36.4960,2019-08-19 18:25:57.6660,445.0,E 10 St & Avenue A,40.727408,-73.981420,285.0,Broadway & E 14 St,40.734546,-73.990741,38703,Subscriber,1988,1
1611603,200,2019-08-22 05:58:45.2820,2019-08-22 06:02:05.7890,495.0,W 47 St & 10 Ave,40.762699,-73.993012,173.0,Broadway & W 49 St,40.760683,-73.984527,30894,Subscriber,1989,1
1203426,365,2019-08-16 14:51:26.2920,2019-08-16 14:57:31.3980,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,3085.0,Roebling St & N 4 St,40.714690,-73.957390,27195,Subscriber,1982,1
1496567,1660,2019-08-20 16:10:40.2420,2019-08-20 16:38:20.9940,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3110.0,Meserole Ave & Manhattan Ave,40.727086,-73.952991,33131,Subscriber,1978,2
203119,1635,2019-08-03 13:40:16.5850,2019-08-03 14:07:32.5090,259.0,South St & Whitehall St,40.701221,-74.012342,459.0,W 20 St & 11 Ave,40.746745,-74.007756,32268,Customer,2001,1
1859483,1293,2019-08-25 15:34:47.5220,2019-08-25 15:56:21.2410,3360.0,Amsterdam Ave & W 79 St,40.782939,-73.978652,3542.0,Amsterdam Ave & W 119 St,40.808625,-73.959621,33903,Subscriber,1972,2
2026522,736,2019-08-27 17:41:34.6910,2019-08-27 17:53:51.5340,518.0,E 39 St & 2 Ave,40.747804,-73.973442,3711.0,E 13 St & Avenue A,40.729667,-73.980680,35098,Subscriber,1984,2
2192724,995,2019-08-29 20:00:04.5160,2019-08-29 20:16:40.2180,3766.0,Sharon St & Olive St,40.715353,-73.938560,3777.0,Stockholm St & Wilson Ave,40.699304,-73.923044,31571,Customer,1993,1
1558304,662,2019-08-21 10:11:16.6780,2019-08-21 10:22:18.8230,3053.0,Marcy Ave & Lafayette Ave,40.690081,-73.947915,3714.0,Division Av & Hooper St,40.706842,-73.954435,34126,Subscriber,1987,2
1328974,1084,2019-08-18 08:36:57.5380,2019-08-18 08:55:01.9170,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,3718.0,E 11 St & Avenue B,40.727464,-73.979504,17000,Subscriber,1966,2

In [4]:
# 2. Check the datatypes of your columns. 
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [11]:
# 3. Convert the 'tripduration' column to datetime datatype.
new_tripduration = df.tripduration
# print(new_tripduration)

new_tripduration_datetime = pd.to_datetime(new_tripduration, unit='s')
print(new_tripduration_datetime)

# Add a new column for the converted trip duration
df['new_tripduration'] = new_tripduration_datetime

# Convert the numeric gender values to string values 
# df['gender'].replace([0,1,2],['Unknown','Male','Female'],inplace=True)
# df.head()

0         1970-01-01 00:06:33
1         1970-01-01 00:10:27
2         1970-01-01 00:18:52
3         1970-01-01 00:29:40
4         1970-01-01 00:25:17
                  ...
2344219   1970-01-01 00:03:36
2344220   1970-01-01 00:01:57
2344221   1970-01-01 00:26:54
2344222   1970-01-01 00:21:41
2344223   1970-01-01 00:06:59
Name: tripduration, Length: 2344224, dtype: datetime64[ns]

In [6]:
# 4. Check the datatypes of your columns. 
df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
new_tripduration           datetime64[ns]
dtype: object

In [13]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv("../bikesharing_challenge.csv",index=False)

In [12]:
df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,new_tripduration
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,1970-01-01 00:06:33
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,1970-01-01 00:10:27
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1970-01-01 00:18:52
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1970-01-01 00:29:40
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1970-01-01 00:25:17
5,632,2019-08-01 00:00:11.8060,2019-08-01 00:10:43.9590,173.0,Broadway & W 49 St,40.760683,-73.984527,3707.0,Lexington Ave & E 26 St,40.741459,-73.983293,21628,Subscriber,1998,1,1970-01-01 00:10:32
6,117,2019-08-01 00:00:18.2010,2019-08-01 00:02:15.8600,3718.0,E 11 St & Avenue B,40.727464,-73.979504,326.0,E 11 St & 1 Ave,40.729538,-73.984267,25914,Subscriber,1995,1,1970-01-01 00:01:57
7,378,2019-08-01 00:00:22.0840,2019-08-01 00:06:40.9350,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3724.0,7 Ave & Central Park South,40.766741,-73.979069,34414,Subscriber,1999,1,1970-01-01 00:06:18
8,1102,2019-08-01 00:00:22.0870,2019-08-01 00:18:44.3890,355.0,Bayard St & Baxter St,40.716021,-73.999744,3232.0,Bond St & Fulton St,40.689622,-73.983043,28226,Subscriber,1992,1,1970-01-01 00:18:22
9,1733,2019-08-01 00:00:22.5580,2019-08-01 00:29:15.9080,513.0,W 56 St & 10 Ave,40.768254,-73.988639,469.0,Broadway & W 53 St,40.763441,-73.982681,33448,Customer,1968,1,1970-01-01 00:28:53